body {
    background-color: #ddddff;
}

header {
    position: fixed;
}

.float-left {
    float: left;
}

.float-left::after {
    clear: both;
}

.clear{
    clear: both;
}

.Screen-Height {
    height: 100vh;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

#Home {
    color: #ddddff;
    background-image: url("../images/Bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#Services {
    padding: 2%;
}

#Previous-Work {
    padding: 2%;
}

#My-Moto {
    padding: 2%;
}

#Contact {
    padding: 2%;
}
